@font-face {
font-family: 'ITC Avant Garde Std Bk-kdnQ7gZr';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/52e62ae7-41f4-42e3-9329-7630d2caf912/itc-itcavantgardestd-demiobl.woff') format('woff');
}