@font-face {
font-family: 'ITC Avant Garde Std Md-BkzPxfqt';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/1fed89fb-8207-4188-b42d-6a39907cd1c4/itc-itcavantgardestd-md.woff') format('woff');
}