@font-face {
font-family: 'ITC Avant Garde Std Md-zn7JcYg2';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/30cc6e8f-5911-4b12-8ac0-0280e1502a54/itc-itcavantgardestd-bold.woff') format('woff');
}