@font-face {
font-family: 'ITC Avant Garde Std Md-aQNhHl3x';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/89025fe2-64f5-4cf3-a5f3-95e64f892696/itc-itcavantgardestd-mdobl.woff') format('woff');
}