@font-face {
font-family: 'Montserrat SemiBold-No-VI63c6fF';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/70405deb-823f-44ed-b67b-3ff5f7c8e245/montserrat-semibold.woff') format('woff');
}